<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    <p>First Name: {{ user.first_name }}</p>
    <p>Second Name: {{ user.second_name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.phone }}</p>
    <p>Gender: {{ user.gender }}</p>
    <p>Applicant Title: {{ user.applicantTitle }}</p>
    <p>ID Number: {{ user.idNumber }}</p>
    <p>Postal Code: {{ user.postalCode }}</p>
    <p>Province: {{ user.province }}</p>
    <p>Home Language: {{ user.homeLanguage }}</p>
    <p>Matric Year: {{ user.matricYear }}</p>
    <p>Upgrading: {{ user.upgrading }}</p>
    <p>NSFAS Bursary: {{ user.nsfasBursary }}</p>
    <p>Birthday: {{ user.bday }}</p>
    <p>Address: {{ user.address }}</p>
    <p>School: {{ user.school }}</p>
    <p>Next of Kin Title: {{ user.nextTitle }}</p>
    <p>Next of Kin Name: {{ user.nextName }}</p>
    <p>Next of Kin Second Name: {{ user.nextsName }}</p>
    <p>Next of Kin Surname: {{ user.nextsurName }}</p>
    <p>Next of Kin Phone: {{ user.nextPhone }}</p>
    <p>Next of Kin Gender: {{ user.nextGender }}</p>
    <p>Next of Kin Email: {{ user.nextEmail }}</p>
    <p>Next of Kin Birthday: {{ user.nextBday }}</p>
    <p>Next of Kin Address: {{ user.nextAddress }}</p>
    <p>Next of Kin Postal Code: {{ user.nextPostalCode }}</p>
    <p>WhatsApp Number: {{ user.whatsapp_number }}</p>
    <p>Selected Institutions: {{ user.selected_institutions }}</p>
    <p>Id Document: {{ user.id_document_applicant }}</p>
    <p>Results Document: {{ user.results_documents }}</p>
    <p>Proof of Payment: {{ user.proof_of_payment }}</p>
    <p>Id Document of Parent: {{ user.id_document_parent }}</p>
    <p>Proof of Residence: {{ user.proof_of_res }}</p>

</body>
</html>