<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Login</title>
</head>
     
  <div id="university_list">
    <h3> List of Universities in South Africa </h3>
    <ul>
        <li>Check opening and closing dates of universities</li>
    </ul>     
 <tr>
    <th>University of Limpopo</th>
    <th>Tshwane University of Technology</th>
    <th>University of Cape Town</th>
    <th>Stellenbosch University</th>
    <th>University of the Witwatersrand</th>
    <th>University of Pretoria</th>
    <th>University of South Africa</th>
    <th>University of the Western Cape</th>
    <th>University of Johannesburg</th>
    <th>North West University</th>
    <th>University of Free State</th>
    <th>Durban University of Technology</th>
    <th>Nelson Mandela University</th>
    <th>Vaal University of Technology</th>
    <th>University of Fort Hare</th>
    <th>University of Zululand</th>
    <th>University of Venda</th>
    <th>Central University of Technology</th>
    <th>Sol Plaatje University</th>
    <th>Rhodes University</th>
    <th>Cape Peninsula University of Technology</th>
    <th>Walter Sisulu University</th>
    <th>Mangosuthu University of Technology</th>
    <th>University of KwaZulu-Natal</th>
    <th>University of Mpumalanga</th>
    <th>Sefako Makgatho Health Sciences University</th>
 <tr>
 </div>

    

</body>
</html>